{% extends 'base.html' %}
{% block content %}
{% load static %}


  <style>
    .img-fluid{
      width: 80%;
      height: 70%;
      padding-left: 20%;
      padding-top: 5%;
    }
  </style> 

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-10 entries" style="padding-top:50px; margin-left:100px">
			{% for dest in dests %}
            <article class="entry">
              <div class="entry-img">
                <img src="{{dest.img.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">{{dest.name}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{dest.uploader}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{dest.createdTime}}</time></a></li>

                </ul>
              </div>

              <div class="entry-content">
                <p>
                    {{dest.desc}}
                </p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}




           

          </div><!-- End blog entries list -->


        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock %}