{% extends 'base.html' %}
{% block content %}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer immediate and effective solutions to combat the ongoing pandemic</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Created by the Students of Information Technology Department at St. Francis Insitute of Technology</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Click to Proceed</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src= "{%static 'assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Group Number 5</h3>
              <h2>Covid-19 Information Hub</h2>
              <p>
                This website can be an essential toolkit in battling the circumstances introduced by 
the current pandemic. It can be a reliable source for information regarding 
COVID-19 from trusted agencies. 

              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src= "{%static 'assets/img/collab.png' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    {% if user.is_authenticated %}
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features Provided</h2>
          <p>We offer the following solutions.</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <img src= "{%static 'assets/img/video.png' %}" class="img-fluid" alt="">
              <h3>Video Conference Capability</h3>
              <p>An efficient Video Conference facilty.
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <img src= "{%static 'assets/img/team1.png' %}" class="img-fluid" alt="">
              <h3>Centralized Hub for Covid-19</h3>
              <p>A centralized hub for information regarding the spread of the pandemic and along with infographics.
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <img src= "{%static 'assets/img/list.png' %}" class="img-fluid" alt="">
              <h3>List of Common Symptoms</h3>
              <p>Proides a list of common symptoms and precautions to be taken by the user
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->
    {% else %}

    {% endif %}
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
          <p>Detailed Information on the functionality provided</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
            <img src= "{%static 'assets/img/soft.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Voice & Video Calling Functionality</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Detailed Analysis on the spread of COVID-19</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Commonly Experienced Symptoms of the Virus</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>News & Information on the current vaccines</h3>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Additional Information on the Available Vaccines</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">Approved Vaccines</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Covaxin®</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Covishield®</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p>Two vaccines were granted emergency use authorization by the Central Drugs Standard Control Organization (CDSCO) in India, Covishield® (AstraZeneca's vaccine manufactured by Serum Institute of India) and Covaxin® (manufactured by Bharat Biotech Limited).</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Covaxin®</h4>
                </div>
                <p>Vaccine type: Inactivated</p>
                <p>Administration method: Intramuscular injection</p>
                <p>Codename: BBV152</p>                
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Covishield®</h4>
                </div>
                <p>Vaccine type: Non-Replicating Viral Vector</p>
                <p>Administration method: Intramuscular injection</p>
                <p>Also known as: Oxford, Astrazeneca vaccine</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>Covaxin (codenamed as BBV152) is an inactivated virus-based COVID-19 vaccine developed by Bharat Biotech in collaboration with the Indian Council of Medical Research - National Institute of Virology.

                </p><p> As of October 2021, 110.6 million people in India have received Covaxin. </p><p> 3 November 2021, the World Health Organization (WHO) validated the vaccine for emergency use. </p><p> As of 31 January 2022, Covaxin has been granted emergency use approval in 13 countries.</p>
                
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p>The COVISHIELD™ is a vaccine and may prevent you from getting COVID-19 disease</p>
                <p>The COVISHIELD™ vaccination course consists of two separate doses of 0.5 ml each. The second dose should be
                  administered between 4 to 12 weeks after the first dose. </p>
                <p>The COVISHIELD™ vaccine is approved for restricted use in emergency situation that may prevent COVID-19 disease in
                  individuals 18 years of age and older.</p>
                <p>The COVISHIELD™ may not protect everyone.</p>
               
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          <div class="col-lg-6">
            
            <img src= "{%static 'assets/img/virus.png' %}" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>Commonly Experienced Symptoms of COVID-19</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/features-3.png" class="img-fluid p-4" alt="">
              <img src= "{%static 'assets/img/vaccine.png' %}" class="img-fluid" alt="">
              
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Fever or Chills</h4>
                    <p>Chills (shivering) may occur at the start of an infection. They are most often associated with a fever. Chills are caused by rapid muscle contraction and relaxation. They are the body's way of producing heat when it feels cold.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4>Fatigue</h4>
                    <p>Fatigue is a term used to describe an overall feeling of tiredness or lack of energy. It isn’t the same as simply feeling drowsy or sleepy. When you’re fatigued, you have no motivation and no energy.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>Headache</h4>
                    <p>Headache is the most common form of pain. It's a major reason people miss days at work or school or visit the doctor.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>Sore throat</h4>
                    <p>A sore throat is pain, scratchiness or irritation of the throat that often worsens when you swallow. A sore throat caused by a virus resolves on its own.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Cough</h4>
                    <p>A cough is your body's way of responding when something irritates your throat or airways.</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>Congestion or runny nose</h4>
                    <p>Congestion occurs when the tissues lining the nose become swollen and make it difficult to breathe.</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
 

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    How can I prevent COVID-19?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Wash your hands often with plain soap and water.
                    Cover your mouth and nose with a cloth face covering or non-surgical mask when around others.
                    Get the COVID-19 vaccine when it is offered to you.
                    Follow CDC guidance on large gatherings, social distancing and mask wearing, based on if you are fully vaccinated or not.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    What treatments are available for COVID-19?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    On October 22, 2020, the FDA approved the antiviral drug Veklury (remdesivir) for use in adults and pediatric patients (12 years of age and older and weighing at least 40 kg) for the treatment of COVID-19 requiring hospitalization. Veklury should only be administered in a hospital or in a healthcare setting capable of providing acute care comparable to inpatient hospital care.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    Is a mask mandatory to prevent the spread of the virus?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Masks should be used as part of a comprehensive strategy of measures to suppress transmission and save lives; the use of a mask alone is not sufficient to provide an adequate level of protection against COVID-19.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Am I currently eligible for a COVID-19 vaccine?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Ages 12 to 17: The FDA amended the emergency use authorization (EUA) for the Pfizer-BioNTech COVID-19 Vaccine to allow for a single booster dose for people ages 12 to 17 at least five months after completion of primary vaccination.
                    Ages 18 and older: If you are 18 or older and received the Pfizer-BioNTech COVID-19 Vaccine, Comirnaty (COVID-19 Vaccine, mRNA) or Moderna COVID-19 Vaccine for your primary vaccination series at least 5 months ago, then you may receive a single booster dose of any of the currently available COVID-19 vaccines
            
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    Is it safe for me to donate blood during the coronavirus pandemic?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    If you are healthy and interested in donating blood, the FDA encourages you to contact a local donation center to make an appointment. One way to make a difference during a public health emergency is to donate blood if you are able.
                
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Are antibiotics effective in preventing or treating COVID-19??
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    No. According to the World Health Organization, antibiotics do not work against viruses. They only work on bacterial infections. COVID-19 is caused by a virus, so antibiotics do not work.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our Hard Working Team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src= "{%static 'assets/img/vedu1.png' %}" class="img-fluid" alt="">

                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Vedant Kadam</h4>
                <span>Back-end Developer</span>
                <p>A curious learner also having a past experience in team building. I am looking forward to improve my technical and soft skills , and become a expert to covert codes into solutions .</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src= "{%static 'assets/img/ethan1.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ethan Moraes</h4>
                <span>Front-end Developer</span>
                <p>An adaptive, highly focused programmer with the right mixture of Technical and Non-technical abilities to strive towards the growth of the organization.
                  Honing my skills in Data science, Web and Frontend Development.</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src= "{%static 'assets/img/finaljosh.png' %}" class="img-fluid" style="margin-bottom:60px" alt="">
            
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Josh Jestine</h4>
                <span>Front-end Developer</span>
                <p>A purpose-driven individual pursuing a Bachelors' Degree in Information Technology at St. Francis Institute of Technology with an elevated interest in Data Science and Cybersecurity.
                Currently working as a Public Relations Executive at Information Technology Students' Association (ITSA).
                  </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src= "{%static 'assets/img/5555.jpg' %}" class="img-fluid"  alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Akshat Oza</h4>
                <span>UI Design</span>
                <p>I believe in taking a User-Centric approach to empathize and solve problems while crafting experiences that are both, intuitive and easy to use. Apart from this, I listen to Music, play Football and geek out over Art and DC comics!</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

   
   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-8" >

          <div class="col-lg-6">

            <div class="row gy-4" style=" position: relative; left: 50%;">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>St. Francis Institute of Technology</p>
                  <p>Borivali West</p>
                  <p>Mumbai 400103</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>022-28928585</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>vedantkadam@student.sfit.ac.in</p>
                  <p>ethanmoraes@student.sfit.ac.in</p>
                  <p>joshchiriyankandath@student.sfit.ac.in</p>
                  <p>akshatoza@student.sfit.ac.in</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

         

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock  %}
 

